.menu > li {
  display: flex;
  position: static;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: var(--ts-border);
  padding: 14px 20px;
  width: 100%;
  min-height: calc(1.7em + 29px);
  font-size: 15px;
}

.menu > li > a {
  font-weight: 800;
}
.menu-drop-icon {
  transform: rotate(270deg);
  z-index: 3;
  transition: color 150ms ease 0s;
  cursor: pointer;
  margin: 1px 0 0 auto;
  padding: 0;
  width: 20px;
  height: 10px;
  font-size: 1.1em;
  text-align: right;
}
