.submenu {
  display: block;
  position: absolute;
  top: 0.2rem;
  left: 100%;
  -webkit-transform-origin: 0 0 0;
  z-index: 999;
  animation-duration: 200ms;
  -webkit-animation-delay: 100ms;
  animation-fill-mode: both;
  animation-name: menu-animation;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--ts-border);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: #fff;
  padding: 2rem 0;
  width: 37.5rem;
  max-width: 70vw;
  min-height: 100%;
  color: var(--ts-dropdown-color);
}

.submenu > li > div {
  display: flex;
  align-items: start;
  gap: 5rem;
  padding-right: 4rem;
  padding-left: 4rem;
  width: 100%;
}

.list-categories {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem 1.5rem;
  margin: 0;
}

.list-categories > ul {
  display: flex;
  flex-flow: column wrap;
  gap: 1.4rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list-categories ul li {
  display: inline-block;
}

@keyframes menu-animation {
  0% {
    transform: scale(1, 0.7);
    visibility: hidden;
  }
  100% {
    transform: scale(1, 1);
    visibility: visible;
  }
}

@media only screen and (max-width: 768px) {
  .submenu {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: none;
    border: none;
    width: 100%;
    overflow: scroll;
  }

  .submenu > li {
    padding: 0;
    font-weight: 500;
  }
}
