.box {
  display: flex;
  /* width: 100%; */
  flex: 1;
  flex-flow: column wrap;
}

.box div {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 10px;
  margin-right: auto;
  margin-left: auto;
  margin: 0 0 16px;
  box-shadow: none;
  border-width: 0;
  border-radius: 6px;
  background-color: #e8f3fe;
  padding: 8px 20px;
  width: 100%;
  overflow: hidden;
  color: #000000;
  font-size: 15px;
  line-height: 24px;
  text-shadow: none;
}
