.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  --ts-sidebar-width: 300px;
  padding-top: 3.5rem;
  --ts-sidebar-gap: 30px;
  min-height: 320px;
}

@media only screen and (max-width: 1279px) {
  .box {
    --ts-sidebar-width: 240px;
  }
}
