.description-top {
  margin-bottom: 7rem;
}

.dimensions-info {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-content: var(--align-content);
  justify-content: initial;
  align-items: initial;
  align-self: auto;
  margin-bottom: 70px;
  width: 100%;
}

.dimensions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

.dimensions h3 {
  font-weight: 700;
  font-size: 30px;
}

.dimensions ol > li {
  padding: 2px 0;
  list-style: decimal inside none;
}

.box-img {
  display: flex;
  align-items: center;
  width: 50%;
}

.box-img img {
  display: inline-block;
  vertical-align: middle;
  box-shadow: none;
  border: none;
  border-radius: 0;
  max-width: 100%;
  height: auto;
}

.dimensions div p {
  margin-bottom: 20px;
  line-height: 1.7em;
}

.dimensions-info:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 850px) {
  .tabs li a {
    padding: 10px 20px;
    font-size: 16px;
  }

  .description-top {
    margin-bottom: 35px;
  }

  .dimensions-info {
    flex-direction: column;
  }

  .dimensions-info > div {
    width: 100%;
  }

  .dimensions {
    order: 1;
  }

  .dimensions h3 {
    font-size: 24px;
  }

  .box-img {
    order: 2;
  }
}
