.box {
  border-color: #e35b5b;
  background-color: #f1adad;
  padding: 3px 0.5em;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
}

.password-hint {
  display: block;
  margin-top: 10px;
  line-height: 20px;
}
