.counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--ts-border);
  border-radius: 5px;
  background-color: #f0f0f0;
  /* padding: 0 30px; */
  width: 60px;
}

.counter-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.counter-value {
  margin: 0;
  box-shadow: none;
  border-color: #ededed;
  background: transparent;
  background-color: #ededed;
  /* padding: 0 30px; */
  width: 100%;
  color: #000000;
  font-size: 15px;
  /* line-height: 36px; */
  text-align: center;
  text-shadow: none;
}

@media only screen and (max-width: 991px) {
  .counter-container {
    margin-left: auto;
    padding: 0 10px;
    width: 110px !important;
  }
}

@media only screen and (max-width: 480px) {
}
