.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field label {
  display: block;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0;
  line-height: 1.8rem;
}

.input-field input[type^="text"],
.input-field input[type^="password"],
.input-field input[type^="email"] {
  vertical-align: bottom;
  filter: none !important;
  border-width: 0.1rem;
  border-style: solid;
  border-color: var(--ts-input-border);
  border-radius: 6px;
  background-color: var(--ts-input-background-color);
  padding: 1.2rem 1.6rem;
  width: 100%;
  color: var(--ts-input-color);
  font-size: var(--ts-body-font-size);
  line-height: 2.4rem;
}

.required {
  color: red;
}
