.hero-banner {
  padding-bottom: 3rem;
}

.banner-warp {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  border-radius: 1rem;
  width: 100%;
  height: 51rem;
}

@media only screen and (max-width: 992px) {
  .banner-warp {
    height: 40rem;
  }
}

@media only screen and (max-width: 776px) {
  .hero-banner {
    order: -1;
    padding-top: 3rem;
    padding-bottom: 0;
  }

  .banner-warp {
    padding: 3rem;
    height: 100%;
  }
}
